* {
	margin: 0; 
	padding: 0;
 }
 
 nav {
	 background-color: darkcyan;
 }
 
 a.menu {
	display: inline-block;
	width: 14%;
	padding: 15px 30px;
	color: white;
	text-decoration: none;
	text-align: center;
 }
 a.menu:hover {
	background-color: crimson;
 }
  a.menur:hover {
	background-color: green;
 }
  .aver {
	background-color: crimson;
 }
  a.menur {
	display: inline-block;
	width: 14%;
	padding: 15px 10px;
	color: white;
	text-decoration: none;
	text-align: center;
  }
   .averr {
	background-color: blue;
 }